body{
    font-family: 'Poppins', sans-serif;
    margin: 10;
}
h1{
    font-size: 50px;
}
.name{
    color: coral;
}
.first-two{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding: left: 10%;

}
.half-width img {
    width: 80%;
}
.link-button{
    text-decoration: none; 
    background-image: linear-gradient(orange,black);
    font-weight: 800;
    padding: 10px 40px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.names{
    color: brown;
    font-weight: 800;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.third-class{
    display: flex;
    margin-bottom: 100px;
   
    
}
.first-box{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    box-shadow: 10px 10px 30px rgb(99, 10, 104);
    border-left: 7px solid rgb(6, 46, 125);
}
.second-box{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    box-shadow: 10px 10px 30px rgb(69, 5, 73);
    border-left: 7px solid rgb(209, 109, 15);
    
}
footer{
    text-align: center;
}